@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  min-height: calc(100vh);
}

.forecast {
  background-color: #ffffff;
  width: 70%;
  padding: 2.5em 2.75em;
}

.title {
  font-size: clamp(1.5em, 10vw, 2.5em);
}
.title span {
  font-weight: lighter;
}

@media only screen and (max-width: 768px) {
  .header {
    right: 3px;
    top: 3px;
    padding: 0.25em;
  }
  .main {
    flex-direction: column-reverse;
  }
  .forecast {
    width: 100%;
    padding: 1em;
  }
}
